<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pdf-Loading</title>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript">
        window.InitData = {};
        window.InitData.DcType = '1';
        window.InitData.tableName = '8f3a7d94-fcd5-489b-86e5-f7f3bcb6e4ca';
        window.InitData.fileName = '2665AA38-7BF8-48A4-A1C0-1034DD5505B7.pdf';
        window.InitData.dbCode = 'local';
        window.InitData.tasktype = 0;
        window.InitData.AppId = "CRSP_PSMC_DEV";
        window.InitData.ApplicationPath = '/read/';
        window.InitData.Topic = '64c28096-b467-4cc4-9aad-4b8f0c718c7b';
        window.InitData.Act = 'mobile';
        window.InitData.FileSourceType = '1';
        window.InitData.CustomReading = '';
    </script>
</body>
</html>